<header>
    <section id="completed">
        <button type="button" class="completed" [disabled]="!isCompleted()" (click)="onClickComplete()"><i class="far fa-check-circle"></i>入力完了</button>
    </section>
</header>
<section id="level-button" [class.selected]="selectedLevel!==0">
    <fieldset class="container">
        <legend><h2>レベル</h2></legend>
        <div class="buttons">
            <button type="button" [class.selected]="level===selectedLevel" (click)="selectLevel(level)" *ngFor="let level of masterDataService.getLevels()">{{level}}</button>
        </div>
    </fieldset>
</section>
<section id="series-button" [class.selected]="selectedId!==''" [class.level-matched]="selectedLevel!==0">
    <fieldset class="container">
        <legend><h2>装備名</h2></legend>
        <div class="buttons">
            <button type="button"  [class.selected]='series.id===selectedId' [class.level-matched]="selectedLevel===series.level" (click)="selectSeriesId(series.id,series.level)" *ngFor="let series of masterDataService.getSeriesList()">{{series.name}}</button>
        </div>
    </fieldset>
</section>
<section id="parts-button" [class.selected]="selectedPartId!==''">
    <fieldset class="container">
        <legend><h2>装備部位</h2></legend>
        <div class="buttons">
            <button type="button" [class.selected]='part.id===selectedPartId' (click)="selectPartId(part.id)"  *ngFor="let part of masterDataService.getParts()">{{part.name}}</button>
        </div>
    </fieldset>
</section>