.container {
	border: 3.5px solid #fff;
	border-radius: 0.5em;
	position: relative;
	margin-top: 1.5em;
	top: -0.5em;
	padding: 0;
}

button{
	border-radius: 0.6em;
	border: none;
}

h2{
	margin: 0;
}

.title{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -1.25rem;
	margin-left: 1em;
	margin-bottom: 0;
	padding-left: 0.75em;
	padding-right: 0.75em;
	background-color: #000;
}

.buttons{
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.5em;
	padding-top: 1rem;
}

#level-button.selected button{
	display: none;
	&.selected {
    	display: block;
		background-color: #f5ae51;
	}
}

#level-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 3em;
	padding: 0.5em;
}

#series-button.selected button{
	display: none;
	&.selected {
    	display: block;
		background-color: #f5ae51;
	}
}

#series-button.level-matched button{
	display: none;
	&.level-matched {
		display: block;
		&.selected {
			display: block;
			background-color: #f5ae51;
		}
	}
}

#series-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 7em;
	padding: 0.5em;
}

#parts-button.selected button{
	&.selected {
    	display: block;
		background-color: #f5ae51;
		&.hidden {
			display: none;
		}
	}
}

#parts-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 5em;
	padding: 0.5em;
	&.hidden {
	    display: none;
	}
}

#effect-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 6em;
	padding: 0.5em;
	&.selected {
		background-color: #f5ae51;
	}
}

#enchantBase-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 6em;
	padding: 0.5em;
	&.selected {
		background-color: #f5ae51;
	}
}

#enchantExtra-button button {
	margin: 0.5em;
	background-color: rgb(122, 122, 122);
	color: #fff;
	width: 6em;
	padding: 0.5em;
	&.selected {
		background-color: #f5ae51;
	}
}

.slot-container {
	position: relative;
	padding: 0;
	button{
		color: #000;
		border-radius: 1em;
		background-color: rgb(255, 251, 188);
		padding: 0.5em;
		min-width: 5em;
		min-height: 2.5em;
	}
	&.active {
		button{
			background-color: #f5ae51;
		}
	}
}

.slots{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.25em;
	i {
		padding-left: 1em;
		color: green;
		&.hidden {
			display: none;
		}
	}
	.trash {
		&.hidden {
			display: none;
		}
		button {
		color: inherit;
		background-color: #000;	
		}
		i {
			color: #FFF;
		}
	}
}


#completed button {
	color: inherit;
	text-shadow: inherit;
	width: 7.5rem;
	background-color: #990000;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	text-align: center;
	border: none;
}

#completed button[type="button"]:disabled {
	color: #b80202;
	text-shadow: none;

}