#add {
	margin-top: 1rem;
	margin-bottom: 1rem;
	a {
		margin-top: 2rem;
		width: 6em;
		background-color: #990000;
		padding: 0.5em;
		border-radius: 0.2em;
		text-align: center;
		text-decoration: none;
	}
}
