<div id="add">
    <a routerLink="a/new"><i class="far fa-plus-square"></i>新規追加</a>
</div>
<h1>装備一覧({{getArmorCount()}})</h1>
<button type="button" (click)="toggleConds()"><i class="fas fa-search-plus"></i>条件：</button>
<div id="armor-search-condition" [class.hidden]="!showConds">
    <div class="condJob">
        <div class="condHeader">職業</div>
        <div class="condBody">
            <button type="button" [class.active]="isJobActive(job.id)" (click)="onClickJobSearch(job.id);" *ngFor="let job of masterDataService.getJobs()"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{job.abbr}}</button>
        </div>
    </div>
    <div class="condEffect">
        <div class="condHeader">ガード</div>
        <div class="condBody">
            <button type="button" [class.active]="isEffectActive(effectType.id)" (click)="onClickEffectSearch(effectType.id);" *ngFor="let effectType of masterDataService.getEffectTypeForGroup('0')"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{effectType.name}}</button>
        </div>
    </div>
    <div class="condEffect">
        <div class="condHeader">ステUP</div>
        <div class="condBody">
            <button type="button" [class.active]="isEffectActive(effectType.id)" (click)="onClickEffectSearch(effectType.id);" *ngFor="let effectType of masterDataService.getEffectTypeForGroup('1')"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{effectType.name}}</button>
        </div>
    </div>
    <div class="condEffect">
        <div class="condHeader">ダメ減</div>
        <div class="condBody">
            <button type="button" [class.active]="isEffectActive(effectType.id)" (click)="onClickEffectSearch(effectType.id);" *ngFor="let effectType of masterDataService.getEffectTypeForGroup('4')"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{effectType.name}}</button>
        </div>
    </div>
    <div class="condEffect">
        <div class="condHeader">攻撃時</div>
        <div class="condBody">
            <button type="button" [class.active]="isEffectActive(effectType.id)" (click)="onClickEffectSearch(effectType.id);" *ngFor="let effectType of masterDataService.getEffectTypeForGroup('2')"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{effectType.name}}</button>
        </div>
    </div>
    <div class="condEffect">
        <div class="condHeader">開戦時</div>
        <div class="condBody">
            <button type="button" [class.active]="isEffectActive(effectType.id)" (click)="onClickEffectSearch(effectType.id);" *ngFor="let effectType of masterDataService.getEffectTypeForGroup('3')"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>{{effectType.name}}</button>
        </div>
    </div>
</div>
<ng-container *ngFor="let armor of getArmorList();">
<!---->
    <div class="container">
        <span class="title">
            <h3>{{masterDataService.getArmorType(armor.armorTypeId).name}}</h3>
            <div class="armor-ops">
                <button type="button" (click)="onClickUpdate(armor.id);"><i class="fas fa-pencil-alt"></i></button>

                <button type="button" (click)="onClickDelete(armor.id);"><i class="fas fa-trash-alt"></i></button>
            </div>
        </span>
        <div  class="slot-container">
            <div *ngFor="let effect of armor.effectList">
                <div class="slots">{{masterDataService.getDisplayName(effect)}}</div>
            </div>
        </div>
    </div>
</ng-container>
